numpy
# Install pandas after numpy is already installed
pandas
openpyxl
scipy
tqdm
matplotlib
yfinance
twelvedata
streamlit
dash
dash-bootstrap-components
werkzeug
xlsxwriter
plotly
kaleido
openai
tabulate
diskcache
anthropic